{% extends 'basefront.html.twig' %}

{% block body %}
    <h1>Course</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ course.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ course.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ course.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('courses_front_index') }}">back to list</a>

    <a href="{{ path('courses_front_edit', {'id': course.id}) }}">edit</a>

    {{ include('courses_front/_delete_form.html.twig') }}
{% endblock %}
