{% extends 'baseAdmin.html.twig' %}



{% block body %}


    <table class="table text-center">
        <thead class="text-uppercase bg-primary">
        <tr class="text-white">
                <th>Username</th>
                <th>Mail</th>
                <th>Date of birth</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for simple in simples %}
            <tr>
                <td>{{ simple.username }}</td>
                <td>{{ simple.mail }}</td>
                <td>{{ simple.dateN ? simple.dateN|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('simple_show', {'id_user': simple.idUser}) }}">Details</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('simple_new') }}">Create new</a>
{% endblock %}
